.nav {
  display: flex;
  align-items: center;
  justify-content: center;

  .menu-item-has-children {
    position: relative;
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-left: 16px solid #fff;
      border-bottom: 8px solid transparent;
      position: absolute;
      right: 15%;
      top: 25%;
    }
  }

  $self: &;
  &__toggle {
    margin-top: -10px;
    padding: 0 0.5rem;
    width: 3.5rem;
    flex: 0 0 3.5rem;
    max-width: 3.5rem;
    height: 3.5rem;
    margin-left: 2rem;
    @include colorSVG(#fff);
    border: none;
    background: transparent;

    &::focus {
      outline-color: $color-primary;
    }

    svg {
      height: 100%;
      display: block;
    }
    @include landscape {
      width: 3rem;
      flex: 0 0 3rem;
      max-width: 3rem;
      height: 3rem;
      svg {
        height: 60%;
      }
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__menu {
    @include list-unstyled;
    margin-bottom: 0;
  }

  &__item {
    text-transform: uppercase;

    &.current-menu-item {
      font-weight: 700;
    }

    &-icon {
      display: inline-block;
      margin-left: 0.5rem;
      margin-top: 0.1rem;
      @include colorSVG($color-primary);

      svg {
        display: block;
        max-width: 1.2rem;
      }
    }

    &.is-highlight {
      #{$self}__item-icon {
        @include colorSVG(#fff);
      }

      #{$self}__link {
        line-height: 1;
        color: #fff;
        background: $color-primary;
        border-radius: 2rem;
        padding: 0.5em 1em;
        display: inline-flex;
        align-items: center;

        &:hover,
        &:focus {
          background: $color-secondary;
          color: #fff;
        }
      }
    }
  }

  &__link {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    font-family: $font-family-second;

    &:hover,
    &:focus {
      color: $color-link;
      text-decoration: none;
    }
  }

  @include max-width("xl") {
    .menu-item-has-children {
      &::after {
        display: none;
      }
    }

    &__wrap {
      background-image: linear-gradient(
          0deg,
          rgba(47, 47, 47, 0.85) 56%,
          rgba(255, 255, 255, 0.5) 100%
        ),
        url("../images/background.jpg");
      background-size: cover;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 999;
      transition: all 0.3s;
      opacity: 0;
      visibility: hidden;
      transform: scaleY(0);
      transform-origin: 50% 0;
      padding: 2rem 1rem;
      flex-direction: column;

      &.is-open {
        transform: scaleY(1);
        opacity: 1;
        visibility: visible;

        .nav__link {
          color: #fff;
        }
        .menu-item-has-children {
          .nav__drop {
            background: none;
            display: block !important;
          }
        }
      }
    }

    &__social-media {
      margin-top: auto;
      padding-top: 1rem;
    }

    &__heading {
      display: flex;
      align-items: center;
      padding-bottom: 1.5rem;
      justify-content: space-between;

      &-logo {
        margin-bottom: 0;
        max-width: 250px;
      }
    }

    &__menu {
      padding: 0 1rem;
      flex: 1;
      overflow-y: auto;
      text-align: right;
      max-width: 600px;
      margin-left: auto;

      @include landscape {
        max-width: unset;
        margin-left: unset;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
    &__drop {
      list-style: none;
      padding-right: 1.5rem;
      padding-top: 1rem;

      .nav__link {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
      }

      /*       &-item {
        .nav__link {
          font-weight: 400;
          color: #29235c9c;
        }
      } */
    }

    &__social-media {
      margin-left: auto;
    }

    &__item {
      padding: 0.5rem 0;
    }

    &__link {
      font-size: 1.5rem;
      font-weight: 700;

      @include landscape {
        font-size: 1.1rem;
      }
    }
  }
  @include min-width("lg") {
  }

  @include min-width("xl") {
    padding-left: 1rem;

    &__toggle {
      display: none;
    }

    &__heading {
      display: none;
    }

    &__menu {
      display: flex;
      align-items: center;
    }

    &__wrap {
      align-items: center;
    }

    &__item {
      padding-right: 3.5rem;
    }
    &__drop {
      display: none;
      flex-direction: column;
      position: absolute;
      padding-top: 0.5rem;
      width: 150%;
      padding-left: 0.1rem;
      list-style: none;
      left: 0%;
      justify-content: flex-end;
      background: rgb(0 0 0 / 26%);

      &-item {
        padding: 0.4rem 1rem;

        @include landscape {
          padding: 1rem 0;
          text-align: left;
        }

        .nav__link {
          font-weight: 500;
          font-size: 1rem;
        }
      }
    }
  }
}

@include landscape {
  .nav__heading {
    padding-bottom: 0;
  }
  .nav__menu {
    margin-top: -44px;
    margin-left: -50px;
  }
  .menu-item-has-children {
    .nav__drop {
      position: absolute;
      top: 0 !important;
      margin-top: 30px;
      width: 200%;
      left: 0;
      padding: 1rem 0;
    }
    .nav__drop-item {
      text-align: left;

      .nav__link {
        font-size: 15px !important;
      }
    }
  }
}
