.social-media {
  display: flex;
  align-items: center;
  @include list-unstyled;
  margin-bottom: 0;
  justify-content: center;

  &__item {
    max-width: 3rem;
    margin: 0 1rem;
    @include colorSVG($color-primary);
  }

  @include min-width('lg') {
    justify-content: start;

    &__item {
      margin-right: 0;
      max-width: 2rem;
    }
  }
}