<header id="main-header" class="header">
	<div class="container">
		<div class="header__body">
			<a href="{{ site.url }}" class="header__logo">
				{{ img(site.logo,'full') }}
			</a>
			{% include 'components/nav.twig' %}
		</div>
	</div>
</header>
