<div class="container">
	<section class="about-contact">
		<div class="about-contact__content">
			{{ content }}
		</div>
		<div class="about-contact__data">
			{% include 'components/contact-data.twig' %}
		</div>
	</section>
</div>
