<div class="container">
	<div class="banner" style="background-image: url({{TimberImage(image).src('full')}})">
		<figure class="banner__image">
			{{ img(TimberImage(image),'full') }}
		</figure>
		<div class="banner__content">{{ content }}</div>
	</div>
</div>
