<section class="benefits">
	<div class="container">
		<header class="heading">
			<h2>{{ title }}</h2>
		</header>
		<ul class="benefits__items">
			{% for item in items %}
				<li class="benefits__item">
					<figure class="benefits__icon">
						{% set icon = TimberImage(item.icon) %}
						{% if icon.get_pathinfo().extension == 'svg' %}
							{{ teik_svg(icon.file_loc) }}
						{% endif %}
					</figure>
					<div class="benefits__content">
						{{ item.content }}
					</div>
				</li>
			{% endfor %}
			<li class="benefits__summary">
				{{ summary }}
			</li>
		</ul>
	</div>
</section>
