.about-contact {
  padding: 3rem 0;

  &__data {
    text-align: center;
  }

  @include min-width('xl') {
    display: flex;
    justify-content: space-between;

    &__content {
      padding-right: 2rem;
      flex: 0 0 40%;
      max-width: 40%;
    }

    &__data {
      flex: 0 0 auto;
    }
  }
}