.benefits {
  @include separator;
  padding-top: 3rem;
  padding-bottom: 3rem;

  &:after {
    margin-left: auto;
    margin-right: auto;
  }

  &__items {
    @include list-unstyled;
    padding-top: 2rem;
  }

  &__item {
    display: flex;
    padding-bottom: 1.5rem;
  }

  &__icon {
    flex: 0 0 3rem;
    max-width: 3rem;
    @include colorSVG($color-secondary);
    margin-bottom: 0;

    svg {
      display: block;
    }
  }

  &__content {
    padding-left: 2rem;

    p {
      margin-bottom: 0;

    }
  }

  &__summary {
    font-weight: 700;
    color: $color-secondary;
    padding-top: 2rem;
  }

  @include min-width('lg') {
    padding-bottom: 5rem;

    &__items {
      column-count: 2;
      column-gap: 2rem;
    }
  }
}