.image-content {
  $self: &;
  padding: 2rem 0 4rem;

  &__image {
    margin-bottom: 2rem;

    img {
      border-radius: 3rem;
      @include shadow($opacity: 0.5);
    }
  }

  &__body {
    @include separator;
  }

  @include min-width('lg') {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0 5rem;

    &__body,
    &__image {
      flex: 0 0 50%;
      max-width: 50%;
    }

    &__body {
      padding-left: 2rem;
    }

    &--image-right {
      #{$self}__image {
        order: 2;
      }

      #{$self}__body {
        padding-left: 0;
        padding-right: 2rem;
      }
    }
  }

  @include min-width('xl') {
    &__body {
      padding-left: 5%;
    }

    &__body,
    &__image {
      flex: 0 0 45%;
      max-width: 45%;
    }

    &--image-right {

      #{$self}__body {
        padding-right: 5%;
      }
    }
  }
}