.main-banner {
  &__body {
    position: relative;
  }

  &__image {
    margin-bottom: 0;
  }

  &__heading {
    color: #fff;
    background: $color-secondary;
    border-radius: 3rem;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 1em 2em;
  }

  @include min-width('lg') {
    &__heading {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 4rem;
      text-align: right;
      padding: 1em 1.5em;
      text-transform: uppercase;
      box-shadow: 5px 5px 10px 0 transparentize(#000, 0.6);
      transform: translateX(1.5em);
    }
  }

  @include min-width('xl') {
    &__heading {
      font-size: 2.5rem;
    }
  }
}