.testimonials {
  margin-left: -1rem;
  margin-right: -1rem;
  background-image: url('../images/testimonials-bg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  border-radius: 3rem;
  overflow: hidden;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparentize(#000, 0.4);
  }

  &__body {
    position: relative;
    padding: 3rem;
  }

  &__author {
    text-align: right;
    font-weight: 700;

    &-name,
    &-company {
      margin-bottom: 0;
    }
  }

  &__slider {
    flex: 1 1 auto;
  }

  &__arrows {
    display: flex;
    justify-content: center;
  }

  .swiper-container {
    position: static;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    transition: all 0.3s;
    cursor: pointer;
    margin: 1rem;


    &.not-active {
      opacity: 0.6;
    }
  }

  .swiper-button-next {
    border-left: 1rem solid #fff;
    right: 2rem;

    &:hover {
      border-left-color: $color-secondary;
    }
  }

  .swiper-button-prev {
    border-right: 1rem solid #fff;

    left: 2rem;

    &:hover {
      border-right-color: $color-secondary;
    }
  }

  @include min-width('lg') {

    &__body {
      padding: 5rem 5rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
      margin: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}