$color-primary: #4a4a4a;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);
$primary: $color-primary;

$color-secondary: #4964ea;
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-dark: darken($color-secondary, 10%);

$color-text: $color-primary;
$color-text-secondary: #0e0e0e;

$secondary: $color-secondary;

$color-link: #9ae4e7;

$color-success: #64dd17;
$color-success-dark: darken($color-success, 10%);

$color-error: #d50000;
$color-error-dark: darken($color-error, 10%);
