$font-family: "Lato", sans-serif;
$font-family-heading: "Krona One", sans-serif;
$font-family-base: $font-family;
$font-size: 1rem;

$font-family-second: "Roboto", sans-serif;
$font-family-third: "Montserrat", sans-serif;
$font-family-text: "Open Sans", sans-serif;
$font-family-banner: "Mitr", sans-serif;

$font-size-base: $font-size;
$font-weight: 400;
$font-weight-base: $font-weight;
$font-line-height: 1.7;
$line-height-base: $font-line-height;
